body{background-image:url(../static/bg-twitter.jpg); background-attachment:fixed; background-repeat:no-repeat; background-color:#131516; color:#333;}
.smallest {font-size:50%;}
.light{font-weight: lighter;}
h1, .impact{font-family: "Impact", "Arial Black", Arial, sans-serif;}
